stages:
  - build

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip
    - venv/

# Build for Linux
build:linux:
  stage: build
  image: python:3.13
  script:
    - pip install --upgrade pip
    - pip install pyinstaller pyautogui
    - pyinstaller --noconfirm --onefile --windowed --name "Ghostwriter" main.py
  artifacts:
    paths:
      - dist/Ghostwriter
    expire_in: 30 days
  only:
    - main

# Build for Windows
build:windows:
  stage: build
  image: python:3.13-windowsservercore
  script:
    - pip install --upgrade pip
    - pip install pyinstaller pyautogui
    - pyinstaller --noconfirm --onefile --windowed --name "Ghostwriter" main.py
  artifacts:
    paths:
      - dist/Ghostwriter.exe
    expire_in: 30 days
  only:
    - main
  tags:
    - windows

# Build for macOS
build:macos:
  stage: build
  image: macos-11-xcode-13
  script:
    - python3 -m pip install --upgrade pip
    - python3 -m pip install pyinstaller pyautogui
    - python3 -m PyInstaller --noconfirm --onefile --windowed --name "Ghostwriter" main.py
  artifacts:
    paths:
  artifacts:
    paths:
      - dist/Ghostwriter
    expire_in: 30 days
  only:
    - main
  tags:
    - macos